<!DOCTYPE html>
<html>
  <head>
    <title>Link Bender</title>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'link-app-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
